a {
  text-decoration: none;
  display: block;
  &:hover {
    opacity: 0.8;
    transition: 0.3s ease;
  }
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/*Thin100, Light300, Regular(normal)400, Medium500, Bold700, Black900*/
body {
  font-family: Roboto, 'Noto Sans TC', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Microsoft JhengHei', 'Helvetica Neue', Arial, sans-serif;
  line-height: 1.5;
}
.container {
  max-width: 1320px; //1920-312*2+24=1320
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px;
  @include pad() {
    max-width: 768px; //768-36*2+72=768
    padding-left: 36px;
    padding-right: 36px;
  }
  @include mobile() {
    max-width: 375px; //375-12*2+24=375
    padding-left: 12px;
    padding-right: 12px;
  }
}
.mb-2 {
  margin-bottom: 8px;
}
.mb-6 {
  margin-bottom: 24px;
}
.mb-8 {
  margin-bottom: 32px;
}
.mb-12 {
  margin-bottom: 48px;
}
// .d-flex {
//   display: flex;
// }
// .justify-space-between {
//   justify-content: space-between;
// }
// .align-items-center {
//   align-items: center;
// }
// .gap-1 {
//   gap: 24px;
// }
// .flex-wrap {
//   flex-wrap: wrap;
// }
