@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  display: block; }
  a:hover {
    opacity: 0.6; }

img {
  max-width: 100%;
  height: auto;
  display: block; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

/*Thin100, Light300, Regular(normal)400, Medium500, Bold700, Black900*/
body {
  font-family: Roboto, 'Noto Sans TC', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Microsoft JhengHei', 'Helvetica Neue', Arial, sans-serif;
  line-height: 1.5; }

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px; }
  @media (max-width: 992px) {
    .container {
      padding-left: 36px;
      padding-right: 36px; } }
  @media (max-width: 767px) {
    .container {
      padding-left: 12px;
      padding-right: 12px; } }

.mb-2 {
  margin-bottom: 8px; }

.mb-6 {
  margin-bottom: 24px; }

.mb-8 {
  margin-bottom: 32px; }

.mb-12 {
  margin-bottom: 48px; }

.bg-cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.justify-space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.layout-padding {
  padding: 96px 0 80px; }
  @media (max-width: 992px) {
    .layout-padding {
      padding-top: 80px; } }
  @media (max-width: 767px) {
    .layout-padding {
      padding: 40px 0 64px; } }

.title {
  font-size: 48px;
  font-weight: 700;
  padding-left: 12px;
  border-left: 8px solid #9f1213;
  margin-bottom: 32px; }
  @media (max-width: 767px) {
    .title {
      font-size: 24px;
      margin-bottom: 24px; } }

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .pagination li {
    border: 1px solid #555555; }
    .pagination li:not(:last-child) {
      margin-right: -1px; }

.page-link {
  color: #555555;
  font-size: 18px;
  padding: 10px 14px; }
  .page-link:hover {
    background-color: #f2f2f2;
    opacity: 1; }
  @media (max-width: 767px) {
    .page-link {
      font-size: 12px;
      padding: 8px 10px; } }

.page-active {
  font-size: 18px;
  color: #ffffff;
  padding: 10px 14px;
  background-color: #000000; }
  @media (max-width: 767px) {
    .page-active {
      font-size: 12px;
      padding: 8px 10px; } }

.bg-primary {
  background-color: #aa0601; }

.logo {
  width: 80px;
  height: 80px;
  background-image: url(../images/logo-white.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden; }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.header-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center; }
  @media (max-width: 767px) {
    .header-menu-list {
      max-height: 0;
      overflow: hidden;
      position: absolute;
      top: 80px;
      left: 0;
      right: 0;
      -webkit-transition: 0.5s ease;
      -o-transition: 0.5s ease;
      transition: 0.5s ease; } }

.header-menu-item a {
  font-size: 20px;
  color: white;
  padding: 25px 32px; }
  @media (max-width: 767px) {
    .header-menu-item a {
      font-size: 16px;
      padding-top: 12px;
      padding-bottom: 12px; } }

.header-menu-item:last-child a {
  padding-right: 0; }
  @media (max-width: 767px) {
    .header-menu-item:last-child a {
      padding-right: 32px; } }

@media (max-width: 767px) {
  .header-menu-item {
    width: 100%;
    border-top: 1px solid #cccccc;
    background-color: #aa0601; } }

.header-menu-btn {
  display: none; }
  @media (max-width: 767px) {
    .header-menu-btn {
      display: block; } }

.menu-btn-style {
  line-height: 1;
  font-size: 40px;
  color: white; }

.show-menu {
  max-height: 210px;
  -webkit-transition: 1s ease;
  -o-transition: 1s ease;
  transition: 1s ease; }

.footer {
  padding-top: 48px;
  color: white; }
  @media (max-width: 767px) {
    .footer {
      padding-top: 24px; } }

.footer-info,
.footer-copyright-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.footer-info {
  margin-bottom: 32px; }
  @media (max-width: 767px) {
    .footer-info {
      margin-bottom: 24px; } }

.footer-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 767px) {
    .footer-menu-list {
      display: none; } }

.footer-menu-item a {
  padding: 12px 24px;
  color: white; }

.footer-menu-item:first-child a {
  padding-left: 0; }

.footer-contact-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  font-family: 'Noto Sans TC';
  font-size: 36px;
  color: white; }
  @media (max-width: 767px) {
    .footer-contact-item a {
      gap: 8px;
      font-size: 16px; } }
  .footer-contact-item a span {
    font-size: 48px;
    color: white; }
    @media (max-width: 767px) {
      .footer-contact-item a span {
        font-size: 24px; } }

.footer-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px; }
  @media (max-width: 992px) {
    .footer-social-list {
      gap: 16px; } }
  @media (max-width: 767px) {
    .footer-social-list {
      gap: 8px; } }

.footer-social-item {
  width: 48px;
  height: 48px; }
  @media (max-width: 992px) {
    .footer-social-item {
      width: 40px;
      height: 40px; } }
  @media (max-width: 767px) {
    .footer-social-item {
      width: 24px;
      height: 24px; } }

.footer-copyright-all {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 32px 0;
  border-top: 1px solid white; }
  @media (max-width: 992px) {
    .footer-copyright-all {
      padding-bottom: 40px; } }
  @media (max-width: 767px) {
    .footer-copyright-all {
      padding: 16px 0 24px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; } }
  @media (max-width: 767px) {
    .footer-copyright-all p {
      margin-bottom: 8px; } }

.footer-policy-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 48px; }
  @media (max-width: 767px) {
    .footer-policy-list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      gap: 8px; } }

.footer-policy-item a {
  color: white;
  font-size: 14px; }
  @media (max-width: 767px) {
    .footer-policy-item a {
      font-size: 16px; } }

.banner {
  background-image: url(../images/home-header.png);
  background-attachment: fixed;
  height: calc(100vh - 80px); }
  @media (max-width: 992px) {
    .banner {
      background-image: url(../images/home-header-sm.png);
      height: 787px; } }
  @media (max-width: 767px) {
    .banner {
      height: 396px; } }

.banner-plan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  text-align: right;
  color: #650300; }

.banner-title {
  font-size: 36px;
  font-family: 'Noto Sans TC'; }
  @media (max-width: 767px) {
    .banner-title {
      font-size: 16px; } }

.banner-subtitle {
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 4px; }
  @media (max-width: 767px) {
    .banner-subtitle {
      font-size: 24px;
      margin-bottom: 8px; } }

.banner-btn {
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  color: white;
  padding: 6px 12px;
  background-color: #aa0601; }

.feature {
  padding: 80px 0;
  background-color: #fbf2f2;
  text-align: center; }
  @media (max-width: 767px) {
    .feature {
      padding: 40px 0; } }

.feature-title {
  font-size: 48px;
  font-weight: 700;
  color: #650300;
  margin-bottom: 24px; }
  @media (max-width: 767px) {
    .feature-title {
      font-size: 24px; } }

.index-card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24px; }

.feature-card-item {
  width: calc((100% - 72px) / 4); }
  @media (max-width: 992px) {
    .feature-card-item {
      width: calc((100% - 24px) / 2); } }
  @media (max-width: 767px) {
    .feature-card-item {
      width: 100%; } }
  .feature-card-item img {
    max-width: 100px;
    max-height: 100px;
    margin: 0 auto;
    margin-bottom: 16px; }
  .feature-card-item h3 {
    font-size: 24px;
    font-weight: 700;
    color: #650300;
    margin-bottom: 8px; }
  .feature-card-item p {
    text-align: justify; }

.classic {
  padding: 80px 0;
  text-align: center; }
  @media (max-width: 767px) {
    .classic {
      padding: 40px 0; } }

.index-title {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  color: #650300;
  margin-bottom: 48px; }
  @media (max-width: 767px) {
    .index-title {
      font-size: 24px;
      margin-bottom: 24px; } }

.classic-card-item {
  width: calc((100% - 48px) / 3); }
  @media (max-width: 992px) {
    .classic-card-item {
      width: calc((336 / 696) * 100%); } }
  @media (max-width: 767px) {
    .classic-card-item {
      width: 100%; } }
  .classic-card-item img {
    margin-bottom: 8px; }
  .classic-card-item h3 {
    font-size: 48px;
    font-style: italic;
    font-weight: 900;
    color: #aa0601; }

.design {
  background-image: url(../images/index-bg.png);
  background-attachment: fixed;
  padding: 80px 0;
  text-align: center; }
  @media (max-width: 992px) {
    .design {
      background-image: url(../images/index-bg-sm.png); } }
  @media (max-width: 767px) {
    .design {
      padding: 40px 0; } }

.text-white {
  color: white; }

.design-card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  @media (max-width: 992px) {
    .design-card-list {
      gap: 24px; } }

.design-card-item {
  width: 50%; }
  @media (max-width: 992px) {
    .design-card-item {
      width: 100%; } }
  .design-card-item .design-double-a {
    background-image: url(../images/home-section4-1.png);
    height: 240px; }
    @media (max-width: 767px) {
      .design-card-item .design-double-a {
        background-image: url(../images/home-section4-1-sm.png); } }
  .design-card-item .design-youth {
    background-image: url(../images/home-section4-2.png);
    height: 240px; }
    @media (max-width: 767px) {
      .design-card-item .design-youth {
        background-image: url(../images/home-section4-2-sm.png); } }
  .design-card-item h3 {
    font-size: 48px;
    font-style: italic;
    font-weight: 900;
    color: #aa0601;
    background-color: white; }

.comment {
  padding: 80px 0; }
  @media (max-width: 767px) {
    .comment {
      padding: 40px 0; } }

.comment-card-item {
  width: calc((100% - 72px) / 4);
  -webkit-box-shadow: 0px 2px 6px #00000029;
          box-shadow: 0px 2px 6px #00000029;
  border-radius: 4px; }
  .comment-card-item img {
    height: 306px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 4px 4px 0 0; }
  @media (max-width: 992px) {
    .comment-card-item {
      width: calc((100% - 24px) / 2); } }
  @media (max-width: 767px) {
    .comment-card-item {
      width: 100%; } }

.comment-card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px;
  height: calc(511px - 306px); }

.customer-name {
  font-weight: 500;
  margin-bottom: 8px; }

.comment-date {
  font-size: 14px;
  color: #707070; }

.contact-container {
  max-width: 660px;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px; }
  @media (max-width: 992px) {
    .contact-container {
      max-width: 576px; } }

.contact {
  padding: 80px 0;
  background-color: #fbf2f2; }
  @media (max-width: 767px) {
    .contact {
      padding: 40px 0; } }
  .contact p {
    font-size: 20px;
    margin-bottom: 24px; }
    @media (max-width: 767px) {
      .contact p {
        font-size: 16px; } }

.contact-form label {
  display: block;
  margin-bottom: 8px; }

.contact-form input {
  display: block;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 16px;
  width: 100%;
  padding: 6px 12px;
  color: rgba(0, 0, 0, 0.2); }

.contact-form textarea {
  font-size: 16px;
  width: 100%;
  height: 136px;
  padding: 6px 12px;
  margin-bottom: 16px; }

.contact-check {
  margin-bottom: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 767px) {
    .contact-check {
      margin-bottom: 24px; } }
  .contact-check input[type='checkbox'] {
    width: 24px;
    height: 24px;
    margin: 0 4px 0 0; }

.contact-send-btn {
  text-align: center; }
  .contact-send-btn button {
    padding: 16px 176px;
    background-color: #aa0601;
    color: white;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 700;
    border: none;
    cursor: pointer; }
    .contact-send-btn button:hover {
      background-color: #650300;
      -webkit-transition: 0.3s ease-out;
      -o-transition: 0.3s ease-out;
      transition: 0.3s ease-out; }
    @media (max-width: 992px) {
      .contact-send-btn button {
        padding: 16px 136px; } }
    @media (max-width: 767px) {
      .contact-send-btn button {
        padding-left: 0;
        padding-right: 0;
        width: 100%; } }

.tab-active {
  border-bottom: 8px solid #aa0601; }

.product-tab-list {
  max-width: 1320px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center; }

.product-tab-item {
  width: calc(100% / 3);
  border-left: 1px solid #dcdcdc; }
  .product-tab-item:last-child {
    border-right: 1px solid #dcdcdc; }
  .product-tab-item a {
    width: 100%;
    font-size: 32px;
    font-weight: 500;
    color: black;
    padding: 24px 0 16px; }
    .product-tab-item a:hover {
      border-bottom: 8px solid #aa0601;
      opacity: 1; }
    @media (max-width: 992px) {
      .product-tab-item a {
        font-size: 24px;
        padding: 16px 0 8px; } }
    @media (max-width: 767px) {
      .product-tab-item a {
        font-size: 16px; } }

.product-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .product-banner li {
    height: 296px;
    width: 50%; }
    @media (max-width: 767px) {
      .product-banner li {
        height: 136px; } }

.optical-banner-glasses {
  background-image: url(../images/product-header-1.png); }
  @media (max-width: 992px) {
    .optical-banner-glasses {
      background-image: url(../images/product-header-sm-1.png); } }

.optical-banner-model {
  background-image: url(../images/product-header-2.png); }
  @media (max-width: 992px) {
    .optical-banner-model {
      background-image: url(../images/product-header-sm-2.png); } }

.sunglasses-banner-glasses {
  background-image: url(../images/product-header-3.png); }
  @media (max-width: 992px) {
    .sunglasses-banner-glasses {
      background-image: url(../images/product-header-sm-3.png); } }

.sunglasses-banner-model {
  background-image: url(../images/product-header-4.png); }
  @media (max-width: 992px) {
    .sunglasses-banner-model {
      background-image: url(../images/product-header-sm-4.png); } }

.product {
  padding: 80px 0; }
  @media (max-width: 767px) {
    .product {
      padding: 40px 0 64px; } }

.product-title {
  font-size: 42px;
  font-weight: 500;
  text-align: center; }
  @media (max-width: 767px) {
    .product-title {
      font-size: 24px; } }

.product-subtitle {
  font-size: 32px;
  text-align: center;
  margin-bottom: 32px; }
  @media (max-width: 767px) {
    .product-subtitle {
      font-size: 24px;
      margin-bottom: 24px; } }

.product-card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 80px 24px;
  margin-bottom: 80px; }
  @media (max-width: 992px) {
    .product-card-list {
      gap: 40px 24px; } }
  @media (max-width: 767px) {
    .product-card-list {
      gap: 24px;
      margin-bottom: 64px; } }

.product-card-item-col4 {
  width: calc((100% - 72px) / 4); }
  @media (max-width: 992px) {
    .product-card-item-col4 {
      width: calc((100% - 24px) / 2); } }
  @media (max-width: 767px) {
    .product-card-item-col4 {
      width: 100%; } }

.product-card-item-col3 {
  width: calc((100% - 48px) / 3); }
  @media (max-width: 992px) {
    .product-card-item-col3 {
      width: calc((100% - 24px) / 2); } }
  @media (max-width: 767px) {
    .product-card-item-col3 {
      width: 100%; } }

.product-card-text {
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .product-card-text span {
    color: #aa0601;
    font-weight: 500; }

.color-choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.color-block {
  width: 24px;
  height: 24px;
  border-radius: 4px; }

.purple {
  background-color: #5f3e2d;
  margin-right: 8px; }

.orange {
  background-color: #b75929; }

.location-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px; }
  @media (max-width: 767px) {
    .location-select {
      margin-bottom: 24px; } }
  .location-select label {
    font-size: 24px;
    margin-right: 16px; }
    @media (max-width: 767px) {
      .location-select label {
        font-size: 16px;
        margin-right: 8px; } }
  .location-select select {
    font-size: 18px;
    line-height: 26px;
    color: #495057;
    width: 304px;
    border: 1px solid #ced4da;
    padding: 6px 12px; }
    @media (max-width: 767px) {
      .location-select select {
        width: calc(100% - 72px); } }

.location-card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 48px 24px; }
  @media (max-width: 992px) {
    .location-card-list {
      gap: 24px; } }

.location-card-item {
  width: calc((100% - 48px) / 3); }
  @media (max-width: 992px) {
    .location-card-item {
      width: calc((100% - 24px) / 2); } }
  @media (max-width: 767px) {
    .location-card-item {
      width: 100%; } }

.location-card-title {
  font-size: 24px;
  padding: 8px 24px;
  border: 1px solid #00000020; }

.location-card-info {
  font-size: 20px;
  padding: 16px 24px;
  border: 1px solid #00000020;
  border-top: 0px; }
  .location-card-info p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .location-card-info p:not(:last-child) {
      margin-bottom: 8px; }
    .location-card-info p span {
      margin-right: 8px; }

.location-card-btn {
  font-size: 19px;
  line-height: 27px;
  color: white;
  background-color: black;
  padding: 16px 0;
  text-align: center; }

.location-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px; }
  @media (max-width: 992px) {
    .location-detail {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

.location-detail-card {
  width: 526px; }
  @media (max-width: 992px) {
    .location-detail-card {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      gap: 24px;
      width: 100%; }
      .location-detail-card img {
        width: calc((100% - 24px) / 2); } }
  @media (max-width: 767px) {
    .location-detail-card {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      gap: 0; }
      .location-detail-card img {
        width: 100%; } }

.location-detail-map {
  width: 746px; }
  @media (max-width: 992px) {
    .location-detail-map {
      width: 100%;
      height: 414px; } }
  @media (max-width: 767px) {
    .location-detail-map {
      height: 208px; } }

.faq-container {
  padding-right: 440px; }
  @media (max-width: 992px) {
    .faq-container {
      padding-right: 0; } }

.faq-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 24px; }

.faq-question {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 8px; }

.faq-answer:not(:last-child) {
  margin-bottom: 32px; }

.blog-navbar {
  background-color: #650300; }
  @media (max-width: 767px) {
    .blog-navbar {
      display: none; } }
  .blog-navbar-link {
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 13px 24px; }
  .blog-navbar li:first-child a {
    padding-left: 0; }
  .blog-navbar-search {
    color: white;
    line-height: 1;
    padding: 13px 0 13px 13px; }

.blog-article-card-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  margin-bottom: 60px; }
  .blog-article-card-item:last-child {
    margin-bottom: 124px; }
    @media (max-width: 992px) {
      .blog-article-card-item:last-child {
        margin-bottom: 80px; } }
    @media (max-width: 767px) {
      .blog-article-card-item:last-child {
        margin-bottom: 64px; } }
  @media (max-width: 992px) {
    .blog-article-card-item {
      margin-bottom: 24px; } }
  @media (max-width: 767px) {
    .blog-article-card-item {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      gap: 8px; } }

.blog-article-card-img-link {
  width: calc((100% - 24px) / 2); }
  @media (max-width: 767px) {
    .blog-article-card-img-link {
      width: 100%; } }

.blog-article-card-content {
  width: calc((100% - 24px) / 2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 767px) {
    .blog-article-card-content {
      width: 100%; } }
  .blog-article-card-content h3 {
    font-size: 32px;
    color: #650300; }
    @media (max-width: 992px) {
      .blog-article-card-content h3 {
        font-size: 24px; } }
  .blog-article-card-content h4 {
    font-size: 20px;
    font-weight: 500;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 16px; }
    @media (max-width: 992px) {
      .blog-article-card-content h4 {
        font-size: 16px;
        margin-bottom: 4px; } }
    .blog-article-card-content h4 span {
      font-size: 16px;
      color: rgba(0, 0, 0, 0.7); }
  .blog-article-card-content p {
    font-size: 20px;
    color: #555555;
    text-align: justify; }
    @media (max-width: 992px) {
      .blog-article-card-content p {
        font-size: 16px; } }
    @media (max-width: 767px) {
      .blog-article-card-content p {
        display: none; } }
    .blog-article-card-content p a {
      display: none; }
      @media (max-width: 992px) {
        .blog-article-card-content p a {
          display: inline-block;
          font-size: 16px;
          font-weight: 400;
          color: #555555; } }

.blog-more-link {
  font-size: 36px;
  font-weight: 900;
  line-height: 1;
  color: #650300;
  text-align: right; }
  @media (max-width: 992px) {
    .blog-more-link {
      display: none; } }

.breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 24px;
  margin-bottom: 8px; }
  @media (max-width: 992px) {
    .breadcrumb {
      margin-top: 8px; } }
  @media (max-width: 767px) {
    .breadcrumb {
      margin-top: 16px; } }
  .breadcrumb a {
    display: inline-block;
    color: black; }
  .breadcrumb span {
    margin: 0 4px; }
  .breadcrumb .breadcrumb-active {
    color: #aa0601; }

.blog-tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8px; }
  .blog-tag a {
    font-size: 24px;
    font-weight: 700;
    color: #aa0601;
    padding-right: 16px; }
    @media (max-width: 767px) {
      .blog-tag a {
        font-size: 16px; } }

.blog-special-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px; }
  .blog-special-main article {
    width: calc((100% - 24px) / 12 * 8); }
    @media (max-width: 992px) {
      .blog-special-main article {
        width: calc((100% - 24px) / 12 * 9); } }
    @media (max-width: 767px) {
      .blog-special-main article {
        width: 100%; } }
  .blog-special-main h2 {
    font-size: 48px; }
    @media (max-width: 767px) {
      .blog-special-main h2 {
        font-size: 24px; } }
  .blog-special-main h3 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px; }
    @media (max-width: 992px) {
      .blog-special-main h3 {
        margin-bottom: 24px; } }
    @media (max-width: 767px) {
      .blog-special-main h3 {
        font-size: 16px;
        margin-bottom: 16px; } }
  .blog-special-main img {
    margin-bottom: 8px; }
    @media (max-width: 992px) {
      .blog-special-main img {
        margin-bottom: 16px; } }
    @media (max-width: 767px) {
      .blog-special-main img {
        margin-bottom: 8px; } }
  .blog-special-main p {
    margin-bottom: 40px; }
    @media (max-width: 992px) {
      .blog-special-main p {
        margin-bottom: 24px; } }
    @media (max-width: 767px) {
      .blog-special-main p {
        margin-bottom: 16px; } }
  @media (max-width: 767px) {
    .blog-special-main .blog-sale-plan {
      margin-bottom: 64px; } }
  .blog-special-main .blog-share {
    font-weight: 700;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 16px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 16px;
    border-bottom: 1px solid #707070;
    margin-bottom: 24px; }
    @media (max-width: 767px) {
      .blog-special-main .blog-share {
        display: none; } }
    .blog-special-main .blog-share a {
      width: 24px;
      height: 24px; }
  .blog-special-main .blog-previous-next {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 80px; }
    @media (max-width: 767px) {
      .blog-special-main .blog-previous-next {
        display: none; } }
    .blog-special-main .blog-previous-next a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      gap: 8px;
      color: black; }

.blog-tag-all {
  width: calc((100% - 24px) / 12 * 4);
  padding-right: 145px; }
  @media (max-width: 992px) {
    .blog-tag-all {
      width: calc((100% - 24px) / 12 * 3);
      padding-right: 16px; } }
  @media (max-width: 767px) {
    .blog-tag-all {
      display: none; } }
  .blog-tag-all h3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 32px;
    font-weight: 700;
    color: #aa0601;
    margin-bottom: 4px; }
    @media (max-width: 992px) {
      .blog-tag-all h3 {
        font-size: 16px;
        margin-bottom: 8px; } }
    .blog-tag-all h3 span {
      font-size: 48px;
      margin-right: 8px; }
      @media (max-width: 992px) {
        .blog-tag-all h3 span {
          font-size: 24px;
          margin-right: 0; } }

.blog-tag-all-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .blog-tag-all-list li {
    margin-bottom: 4px; }
    @media (max-width: 992px) {
      .blog-tag-all-list li {
        margin-bottom: 0; } }
    .blog-tag-all-list li a {
      font-size: 24px;
      font-weight: 700;
      color: #aa0601;
      padding-right: 24px; }
      @media (max-width: 992px) {
        .blog-tag-all-list li a {
          font-size: 16px;
          padding-right: 16px; } }

/*# sourceMappingURL=all.css.map */
